<% provide(:title, "Boards") %>
<h1>Boards</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
	  <div class="instructions">Select a board to begin!</div>
	  <div>
		  <% @boards.each do |board| %>
		  	<%= render board %>
		  <% end %>
	  </div>
	  <br class="clear">
  </div>
</div>
