<% provide(:title, "Board #{@board.id}") %>

<div>
	<section class="col-md-9">
		<div class="board-container">
			<div class="board-img-container">
				<!-- Add @characters to img data attribute for javascript to access -->
				<%= image_tag(@board.name+".jpg", class: "board", data: {characters: @characters}) %>
			</div>
		</div>
	</section>
	<aside class="col-md-3">
		<div>
			<h1>
				<%= "Board #{@board.id}" %>
			</h1>
			<div class="instructions">
				Find the characters listed below! Indentify the characters on the board by clicking on them. Find all characters to win. 
			</div>
		</div>
		<div>
			<% @characters.each do |character| %>
				<div class="character-thumbnail-container">
					<div class="character-name"><%= character.name.capitalize %></div>
					<div><%= image_tag(character.name+".jpg", class: "character-thumbnail") %></div>
				</div>
			<% end %>
		</div>
	</aside>
</div>