@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #3b5998;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Global */
html {
  font-size: 14px;
}

/* typography */

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

/* Forms */

.instructions {
  font-size: 1.25rem;
  margin-bottom: 15px; 
}

input {
  border: 1px solid #bbb;
  margin-bottom: 30px;
  height: auto !important;
  @include box-sizing;
  width: 100%;
}

.field-info {
  position: relative;
}

.field-info span {
  font-style: italic;
  color: #cc0000;
  font-size: .9rem;
  position: absolute;
  top: -30px;
}

/* User-Info */

.user-info {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding: 5px;
}

/* Boards */

.board-thumbnail-container {
  display: block;
  float: left;
  width: 50%;
  height: 270px;
  margin-bottom: 15px;
}

.board-thumbnail {
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin-left: 5%;
}

.board {
  width: 100%;
  height: auto;
}

.character-thumbnail-container {
  display: block;
  float: left;
  width: 46%;
  height: auto;
  margin: 2%;
  border: 1px solid black;
  border-radius: 5px;
}

.character-name {
  text-align: center;
}

.character-thumbnail {
  width: 80%;
  margin-left: 10%;
  height: 175px;
}

/* Misc */

.clear {
  clear: both;
}